*{
	box-sizing: border-box; /*Incluye pixeles dentro del border, no toma externos*/
	font-family: 'Montserrat', sans-serif;
}

/* 
----------COLORS-----------
#D3B826 : Yellow;
*/

/* HEADER NAVBAR */
.navbar{
	width: 100%;
	padding-top:0px;
	padding-bottom: 0px;
	border-bottom: 3px solid #D3B826;
}

.nav-link{
	color:white !important;
	margin-right: 4em;
}

.bg-dark{
	background-color: #000 !important;
}

.navbar-brand img{
	height: 64px;
	width: auto;
	padding: 8px;
	margin-right: 4em; 
}

/* MAIN */
.home{
	background-color: black;
}

.order-now-link img{ /*Img de ordena aqui* */
	display: block;
	width: 100%;
	margin-left: auto;
	margin-right: auto;
	border: 3px solid #D3B826;
	margin-top: 4%;
}

.order-now-link img:hover{
	transform: scale(1.1);
}

/*Carousel*/

.carousel-main{
	margin-top: 4%;
	margin-left: auto;
	margin-right: auto;
	border: 3px solid #D3B826;
}

.carousel-main .carousel-item img{
	width: 100%;
	height: 360px;
}

.title-new-stuff{
	color: red !important;
}

.title-new-stuff img{
	width: 30px;
	height: 30px;
}


/*Columnas*/

.column{
	float: left;
	width: 33.33%; /*Almost 100% */
	padding: 10px;
}

.row:after{
	content: "";
	display: table;
	clear:both;
}

.row .column h2{
	color: #D3B826 !important;
	margin-top: 10px;
	line-height: 90%;
}

.row .column p{
	color: white !important;
}

.row .column img{
	border: 3px solid #D3B826;
	width: 100%;
}

.column img:hover{
	transform: scale(1.1);
}

/*Si la pantalla es menor a 600px, las tres columnas
se apilaran una encima de otra*/
@media screen and (max-width: 600px){
	.column {
		width: 100%;
	}
}

/*Boton*/

.button{
	display: flex;
	border-radius: 8px;
	background-color: red; 
	color: white;
	border-color: #0000;
	max-width: 166px;
	width: 100%;
	margin-top: 4%;
	margin-left: auto;
	margin-right: auto;
	justify-content: center;
	font-weight: bold;
	padding: 6px 6px 6px 6px;
}

/*VIDEO*/
.video{
	min-width: 420px;
	min-height: 345px;
	max-width: 1080px;
	width: 100%;
	margin-bottom: 30px;
}

/*------FOOTER-------*/
.footer-part{
	background-color: #2F261E;
	width: 100%;
}

.column-2{
	margin-top: 2%;
	float: left;
	width: 33.33%;
	text-align: center;	
}

.row:after{
	content: "";
	display: table;
	clear: both;
}

/* Columnas responsivas del footer */
@media screen and (max-width: 600px) {
  .column-2 {
    width: 100%;
  }
}

/*-----REDES SOCIALES----*/
.media{
	float: left;
	margin-right: 1em;
	justify-content: center;
}


/* ------ STYLES PARA PAGINA PRODUCTOS ------ */

.products{
	background-color: black;

}

.products-image img{
	display: block;
	width: 100%;
	margin-left: auto;
	margin-right: auto;
	margin-top: 4%;
}

/*columnas*/

.new .column-new{
	float: left;
	width: 33.33%; /*Almost 100% */
	padding: 10px;
}

.new:after{
	content: "";
	display: table;
	clear:both;
}

.new .column-new h2{
	color: #D3B826 !important;
	margin-top: 10px;
	line-height: 90%;
}

.new .column-new p{
	color: white !important;
}

.new .column-new img{
	border: 3px solid #D3B826;
	max-width: 337px;
	width: 100%;
	height: 190px;
}


/*Si la pantalla es menor a 600px, las tres columnas
se apilaran una encima de otra*/
@media screen and (max-width: 600px){
	.new .column-new {
		width: 100%;
	}
}


</style>
</head>
<body>




